/*Page color and font*/
body {
	background-color: lightgray;
}
body {
    font-family: 'Nothing You Could Do', cursive;
}
ul {
  margin: 30px 40px;
  padding: 5px 10px 15px 5px;
}
/*Sizing for headers and images*/
h1 {
        font-size: 32px;
        font-weight: bold;
        color: #333;
      }
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
      h3 {
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
.Vest {
  Width: 400px;
  height: 300px;  
}
.Bands {
    width: 400px;
    height: 300px;
}



























